# SPDX-License-Identifier: GPL-2.0

source "vendor/drivers/battery/Kconfig"
source "vendor/drivers/bluetooth/Kconfig"
source "vendor/drivers/panel/Kconfig"
source "vendor/drivers/rtl88x2cs/Kconfig"
source "vendor/drivers/wifi/Kconfig"
source "vendor/drivers/media/Kconfig"
